<%= form_for(@contract) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entity %><br />
    <%= f.select :entity_id, @entity_choices %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :hourly_rate %><br />
    <%= f.text_field :hourly_rate %>
  </div>
  <div class="field">
    <%= f.label :weekly_hours_limit %><br />
    <%= f.text_field :weekly_hours_limit %>
  </div>
  <div class="field">
    <%= f.label :total_hours_limit %><br />
    <%= f.text_field :total_hours_limit %>
  </div>
  <div class="field">
    <%= f.label :terms %><br />
    <%= f.text_field :terms %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
