<h1>Listing contracts</h1>

<table>
  <tr>
    <th>Entity</th>
    <th>Start date</th>
    <th>Hourly rate</th>
    <th>Weekly hours limit</th>
    <th>Total hours limit</th>
    <th>Terms</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contracts.each do |contract| %>
  <tr>
    <td><%= contract.entity_name %></td>
    <td><%= contract.start_date %></td>
    <td><%= contract.hourly_rate %></td>
    <td><%= contract.weekly_hours_limit %></td>
    <td><%= contract.total_hours_limit %></td>
    <td><%= contract.terms %></td>
    <td><%= link_to 'Show', contract %></td>
    <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
    <td><%= link_to 'Destroy', contract, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contract', new_contract_path %>
