<h1>Listing payees</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Tax id number</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payees.each do |payee| %>
  <tr>
    <td><%= payee.name %></td>
    <td><%= payee.tax_id_number %></td>
    <td><%= payee.address %></td>
    <td><%= payee.city %></td>
    <td><%= payee.state %></td>
    <td><%= payee.zip %></td>
    <td><%= link_to 'Show', payee %></td>
    <td><%= link_to 'Edit', edit_payee_path(payee) %></td>
    <td><%= link_to 'Destroy', payee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payee', new_payee_path %>
