<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @payee.name %>
</p>

<p>
  <b>Tax id number:</b>
  <%= @payee.tax_id_number %>
</p>

<p>
  <b>Address:</b>
  <%= @payee.address %>
</p>

<p>
  <b>City:</b>
  <%= @payee.city %>
</p>

<p>
  <b>State:</b>
  <%= @payee.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @payee.zip %>
</p>


<%= link_to 'Edit', edit_payee_path(@payee) %> |
<%= link_to 'Back', payees_path %>
